# Final Project : - Building two Recommendation Systems

## Data Preperation

In [2]:
import pandas as pd
import numpy as np

In [10]:
# Converting the the dataset from ISO-8859-1 to UTF -8
import pandas as pd

# Path to your CSV file
file_path = '/Users/salmanmohamm3d/Desktop/Social M A/Final Project/u.itme_1.csv'

# Try reading the CSV file with a different encoding
try:
    df = pd.read_csv(file_path, encoding='ISO-8859-1')
    print("File read successfully with ISO-8859-1 encoding.")
except UnicodeDecodeError:
    print("UnicodeDecodeError: trying another encoding.")
    df = pd.read_csv(file_path, encoding='latin1')
    print("File read successfully with latin1 encoding.")

# Display the first few rows of the dataframe
print(df.head())

# Display summary statistics
print(df.describe())

# Display information about the dataframe
print(df.info())

File read successfully with ISO-8859-1 encoding.
   S.No         movie_name release_date  \
0     1   Toy Story (1995)    01-Jan-95
1     2   GoldenEye (1995)    01-Jan-95
2     3  Four Rooms (1995)    01-Jan-95
3     4  Get Shorty (1995)    01-Jan-95
4     5     Copycat (1995)    01-Jan-95

                                           imdb_link  Unknown  Action  \
0  http://us.imdb.com/M/title-exact?Toy%20Story%2...        0       0
1  http://us.imdb.com/M/title-exact?GoldenEye%20(...        0       1
2  http://us.imdb.com/M/title-exact?Four%20Rooms%...        0       0
3  http://us.imdb.com/M/title-exact?Get%20Shorty%...        0       1
4  http://us.imdb.com/M/title-exact?Copycat%20(1995)        0       0

   Adventure  Animation  Children's  Comedy  ...  Fantasy  Film-Noir  Horror  \
0          0          1           1       1  ...        0          0       0
1          1          0           0       0  ...        0          0       0
2          0          0           0       0  ...        0          0       0
3          0          0           0       1  ...        0          0       0
4          0          0           0       0  ...        0          0       0

   Musical  Mystery  Romance  Sci-Fi  Thriller  War  Western
0        0        0        0       0         0    0        0
1        0        0        0       0         1    0        0
2        0        0        0       0         1    0        0
3        0        0        0       0         0    0        0
4        0        0        0       0         1    0        0

[5 rows x 23 columns]
              S.No      Unknown       Action    Adventure    Animation  \
count  1682.000000  1682.000000  1682.000000  1682.000000  1682.000000
mean    841.500000     0.001189     0.149227     0.080262     0.024970
std     485.695893     0.034473     0.356418     0.271779     0.156081
min       1.000000     0.000000     0.000000     0.000000     0.000000
25%     421.250000     0.000000     0.000000     0.000000     0.000000
50%     841.500000     0.000000     0.000000     0.000000     0.000000
75%    1261.750000     0.000000     0.000000     0.000000     0.000000
max    1682.000000     1.000000     1.000000     1.000000     1.000000

        Children's       Comedy        Crime  Documentary        Drama  \
count  1682.000000  1682.000000  1682.000000  1682.000000  1682.000000
mean      0.072533     0.300238     0.064804     0.029727     0.431034
std       0.259445     0.458498     0.246253     0.169882     0.495368
min       0.000000     0.000000     0.000000     0.000000     0.000000
25%       0.000000     0.000000     0.000000     0.000000     0.000000
50%       0.000000     0.000000     0.000000     0.000000     0.000000
75%       0.000000     1.000000     0.000000     0.000000     1.000000
max       1.000000     1.000000     1.000000     1.000000     1.000000

          Fantasy    Film-Noir       Horror      Musical      Mystery  \
count  1682.00000  1682.000000  1682.000000  1682.000000  1682.000000
mean      0.01308     0.014269     0.054697     0.033294     0.036266
std       0.11365     0.118632     0.227455     0.179456     0.187008
min       0.00000     0.000000     0.000000     0.000000     0.000000
25%       0.00000     0.000000     0.000000     0.000000     0.000000
50%       0.00000     0.000000     0.000000     0.000000     0.000000
75%       0.00000     0.000000     0.000000     0.000000     0.000000
max       1.00000     1.000000     1.000000     1.000000     1.000000

           Romance       Sci-Fi     Thriller          War      Western
count  1682.000000  1682.000000  1682.000000  1682.000000  1682.000000
mean      0.146849     0.060048     0.149227     0.042212     0.016052
std       0.354061     0.237646     0.356418     0.201131     0.125714
min       0.000000     0.000000     0.000000     0.000000     0.000000
25%       0.000000     0.000000     0.000000     0.000000     0.000000
50%       0.000000     0.000000     0.000000     0.000000     0.000000
75%       0.000000     0.000000     0.000000     0.000000     0.000000
max       1.000000     1.000000     1.000000     1.000000     1.000000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1682 entries, 0 to 1681
Data columns (total 23 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   S.No          1682 non-null   int64
 1   movie_name    1682 non-null   object
 2   release_date  1681 non-null   object
 3   imdb_link     1679 non-null   object
 4   Unknown       1682 non-null   int64
 5   Action        1682 non-null   int64
 6   Adventure     1682 non-null   int64
 7   Animation     1682 non-null   int64
 8   Children's    1682 non-null   int64
 9   Comedy        1682 non-null   int64
 10  Crime         1682 non-null   int64
 11  Documentary   1682 non-null   int64
 12  Drama         1682 non-null   int64
 13  Fantasy       1682 non-null   int64
 14  Film-Noir     1682 non-null   int64
 15  Horror        1682 non-null   int64
 16  Musical       1682 non-null   int64
 17  Mystery       1682 non-null   int64
 18  Romance       1682 non-null   int64
 19  Sci-Fi        1682 non-null   int64
 20  Thriller      1682 non-null   int64
 21  War           1682 non-null   int64
 22  Western       1682 non-null   int64
dtypes: int64(20), object(3)
memory usage: 302.4+ KB
None

In [11]:
# Path to save the new CSV file
new_file_path = '/Users/salmanmohamm3d/Desktop/Social M A/Final Project/u.itme_1_utf8.csv'

# Save the dataframe to a new CSV file with UTF-8 encoding
df.to_csv(new_file_path, index=False, encoding='utf-8')

print(f"File saved successfully with UTF-8 encoding at {new_file_path}")

File saved successfully with UTF-8 encoding at /Users/salmanmohamm3d/Desktop/Social M A/Final Project/u.itme_1_utf8.csv

In [12]:
df_1 = pd.read_csv('/Users/salmanmohamm3d/Desktop/Social M A/Final Project/u.itme_1_utf8.csv')

In [13]:
df_1.head(10)

,S.No,movie_name,release_date,imdb_link,Unknown,Action,Adventure,Animation,Children's,Comedy,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),01-Jan-95,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,1,...,0,0,0,0,0,0,0,0,0,0
1,2,GoldenEye (1995),01-Jan-95,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,3,Four Rooms (1995),01-Jan-95,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,4,Get Shorty (1995),01-Jan-95,http://us.imdb.com/M/title-exact?Get%20Shorty%...,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,5,Copycat (1995),01-Jan-95,http://us.imdb.com/M/title-exact?Copycat%20(1995),0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
5,6,Shanghai Triad (Yao a yao yao dao waipo qiao) ...,01-Jan-95,http://us.imdb.com/Title?Yao+a+yao+yao+dao+wai...,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,7,Twelve Monkeys (1995),01-Jan-95,http://us.imdb.com/M/title-exact?Twelve%20Monk...,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
7,8,Babe (1995),01-Jan-95,http://us.imdb.com/M/title-exact?Babe%20(1995),0,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
8,9,Dead Man Walking (1995),01-Jan-95,http://us.imdb.com/M/title-exact?Dead%20Man%20...,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,10,Richard III (1995),22-Jan-96,http://us.imdb.com/M/title-exact?Richard%20III...,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [15]:
df_2 = pd.read_csv('/Users/salmanmohamm3d/Desktop/Social M A/Final Project/u.data_1.csv')

In [19]:
df_2.head(10)
# df_2.info()

   user_id  item_id  rating  time_stamp
0      196      242       3   881250949
1      186      302       3   891717742
2       22      377       1   878887116
3      244       51       2   880606923
4      166      346       1   886397596
5      298      474       4   884182806
6      115      265       2   881171488
7      253      465       5   891628467
8      305      451       3   886324817
9        6       86       3   883603013